extends layout
//- 标题
block title
	| 主人不在家 猜我在干嘛？

//- 内容
block content_here
	img.share-weixin(src="img/banner-1.jpg")
	div.homepage
		div.banner
			img(src="img/banner-1.jpg")
		div.text
			img(src="img/text-new.jpg")
		div.star(onclick="star()")
			img(src="img/btn-join.jpg")
		//- div.text1
			img(src="img/text-1.jpg")
	div.secondpage
		div.back(onclick="back1()")
			img(src="img/back.png")
		div.text
			img(src="img/text-new.jpg")
		div.list.clearfix
			div.box-item(onclick="selectType(1)")
				img#ani1(src="") 
			div.box-item(onclick="selectType(2)")
				img#ani2(src="") 
			div.box-item(onclick="selectType(3)")
				img#ani3(src="") 
		div.list.clearfix
			div.box-item(onclick="selectType(4)")
				img#ani4(src="") 
			div.box-item(onclick="selectType(5)")
				img#ani5(src="") 
			div.box-item(onclick="selectType(6)")
				img#ani6(src="")
		div.pt10.clearfix
			div.text1
				img(src="img/text-new-1.png")
			div.mini
				img(src="img/icon-list.png")
		div.next(onclick="selectType(1)")
			img(src="img/nextstep.jpg")
	div.thirdpage.clearfix
		div.back(onclick="back2()")
			img(src="img/back.png")
		div.text
			img(src="img/text-new.jpg")
		div.box-item
			#mySlider.slider
				div.slide-group
					-for (var i=0;i<6;i++)
						div.slide
							img(src="",onclick="readyto(this)")
			div.text2
				img(src="img/text-new-2.png")

		//- div.text1
			img(src="img/text-3.jpg")
		div#slidermini.mini
			span.on
			span
			span
			span
			span
			span
		div.next(onclick="readyto(false)")
			img(src="img/nextstep.jpg")
	div.fourthpage
		div.back(onclick="back3()")
			img(src="img/back.png")
		div.text
			img(src="img/text-new.jpg")
		div.box-item
			div.slide
				//- img(src="img/car1.jpg")
				canvas#canvas(width="445",height="445")
				textarea(name="text",type="text",placeholder="请输入文字")
			div.text2
				img(src="img/text-new-3.png")
		div.submit(onclick="createimg()")
			img(src="img/btn-submit.jpg")
	div.loading
		p 正在努力上传图片,请稍后...